body {
  margin: 0;
  background-color: #ccc;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.kr-forms-demo {
  /* Initial flat state */
  box-shadow: 2px 2px 5px rgba(0,0,0,.1);
  width: 650px;
  max-height: 75vh;
  padding: 25px;
  background-color: #fefefe;
  overflow-y: auto;
  scrollbar-width: 2%;
  scrollbar-color: #006 rgba(200,200,200, .25);
  transition: box-shadow 0.2s ease;
}

.kr-forms-demo:hover {
  /* Lifted State */
  box-shadow: 10px 10px 20px rgba(0,0,0,.3);
}
